{% extends 'cabinet/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <style>
        .center_big {
  text-align: center;
      font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
}
    </style>
    <p class="center_big">Поставки</p>
    <div class="table-responsive">
        <a href="{% url 'cabinet:supply_create' %}" class="btn btn-primary my-2">Добавить поставку</a>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Дата поставки</th>
                <th>Количество грузовых мест</th>
                <th>Добавить товар в поставку</th>
                <th>Редактировать поставку<br>(дату и грузовые места)</th>
                <th>Статус поставки</th>
            </tr>
            </thead>
            <tbody>
            {% for supply in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{supply.delivery_date}}</td>
                <td>{{supply.quantity_cargo}} мест</td>
                <td><a class="btn btn-success" href="{% url 'cabinet:supply_detail' supply.pk %}"
                       role="button">Состав поставки</a></td>
                {% if supply.status == "Создана" %}
                <td><a class="btn btn-info" href="{% url 'cabinet:supply_update' supply.pk %}"
                       role="button">Редактировать</a></td>
                <td>{{supply.status}} <br>Поставка сформирована и отправлена</td>
                {% else %}
                <td></td>
                <td>{{supply.status}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}